{:deps {org.clojure/clojure         {:mvn/version "1.10.0"}
        org.clojure/tools.cli       {:mvn/version "0.4.2"}
        org.clojure/core.match      {:mvn/version "0.3.0"}
        clj-commons/clj-yaml        {:mvn/version "0.7.0"}
        foundation-lib              {:local/root "../foundation-lib"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "0.9.0"}
                               com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
           :user {:extra-paths ["user"]
                  :extra-deps {org.clojure/tools.namespace {:mvn/version "0.3.0-alpha4"}}}
           :uberjar {:extra-deps {luchiniatwork/cambada {:mvn/version "1.0.0"}}
                     :main-opts ["-m" "cambada.uberjar"]}
           :lint {:extra-deps {com.jameslaverack/cljfmt-runner
                               {:git/url "https://github.com/JamesLaverack/cljfmt-runner"
                                :sha "97960e9a6464935534b5a6bab529e063d0027128"}}
                  :main-opts ["-m" "cljfmt-runner.check"]}
           :lint/fix {:main-opts ["-m" "cljfmt-runner.fix"]}}}
